.c1{
    display: inline-block;
    width: 100px;
    height: 50px;
}
.bg1{
    border-radius: 25px;
}
.bg2{
    color:blue;
    border-style: groove;
    background-color: red;
}
.bg3{
    color: aqua;
    border : green 5px dotted;
    border-radius: 20px;
}
.bg4{
    background-color: blueviolet;
    color: cadetblue;
    border-radius: 50px;
    border: royalblue 3px inset;
}