.f1{
    font-size: 2em;
}
.f1_1{
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    
}
.f1_2{
    width: 200px;
    height: 100px;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: oblique;
    border: 1px solid red;
    font-family: 'Babylonica', cursive;
    text-align: center;
    line-height: 100px;
}