<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.s1.member.MemberDAO">
  <insert id="memberJoin" parameterType="MemberDTO">
  	INSERT INTO MEMBER 
  	VALUES(#{id},#{pw},#{name},#{address},#{phone},#{email})
  </insert>
 <insert id="setMemberRoleAdd" parameterType="MemberDTO">
 		INSERT INTO MEMBER_ROLE(ID,ROLENUM)
 		VALUES(#{id},(SELECT ROLENUM FROM ROLE WHERE ROLENAME='MEMBER'))
 </insert>
 
 
 
  <select id="getMemberLogin" parameterType="MemberDTO" resultMap="memberRole">
  	SELECT * FROM MEMBER 
  				INNER JOIN
  				MEMBER_ROLE
  				USING(ID)
  				INNER JOIN
  				ROLE
  				USING(ROLENUM) 
  	
  	WHERE ID=#{id}
  </select>
  <resultMap type="MemberDTO" id="memberRole">
  <id column="id" property="id"/>
  <result column="pw" property="pw"/>
  <result column="name" property="name"/>
  <result column="address" property="address"/>
  <result column="phone" property="phone"/>
  <result column="email" property="email"/>
  
  <association property="roleDTO" javaType="RoleDTO">
  <id column="rolenum" property="roleNum"/>
  <result column="rolename" property="roleName"/>
  </association>
  </resultMap>
  
  <update id="setMemberUpdate" parameterType="MemberDTO">
  	UPDATE MEMBER SET NAME=#{name},ADDRESS=#{address},PHONE=#{phone},EMAIL=#{email} 
  	WHERE ID=#{id}
  </update>
  
  </mapper>