<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.s1.board.notice.NoticeDAO">
  <sql id="condition">
  
  	<if test="kind == 'title'">
  		<trim prefix="where">
  			TITLE LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  	<if test="kind == 'writer'">
  		<trim prefix="where">
  			WRITER LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  	<if test="kind == 'contents'">
  		<trim prefix="where">
  			CONTENTS LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
 
  
  
  </sql>
  
  
  <select id="getTotalCount" parameterType="Pager" resultType="Long">
  	SELECT COUNT(NUM) FROM NOTICE
  	<include refid="condition"></include>
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="NoticeDTO">
  	SELECT * FROM
  	(
  	SELECT ROWNUM R,N.* FROM 
  	(
  		SELECT NUM,TITLE,WRITER,REGDATE,HIT FROM NOTICE
  		<include refid="condition"></include>
  		ORDER BY NUM DESC
  	) N
  	)
  	WHERE R BETWEEN #{startRow} AND#{lastRow}
  </select>
  
  <insert id="setBoardAdd" parameterType="BbsDTO">
  <selectKey keyProperty="num" order="BEFORE" resultType="Long">
  SELECT NOTICE_SEQ.NEXTVAL FROM DUAL
  </selectKey>
  
  	INSERT INTO NOTICE VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0)
  </insert>
  
  <select id="getBoardDetail" parameterType="BoardDTO" resultMap="notice">
  	SELECT * FROM NOTICE N
  								LEFT JOIN
  								NOTICEFILES NF
  								ON(N.NUM = NF.NUM)
  	WHERE N.NUM=#{num}
  </select>
   <resultMap type="NoticeDTO" id="notice">
  	<id column="NUM" property="num"/>
  	<result column="TITLE" property="title"/>
  	<result column="CONTENTS" property="contents"/>
  	<result column="WRITER" property="writer"/>
  	<result column="REGDATE" property="regDate"/>
  	<result column="HIT" property="hit"/>
  	
  	<collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  		<id column="FILENUM" property="fileNum"/>
  		<result column="FILENAME" property="fileName"/>
  		<result column="ORINAME" property="oriName"/>
  		
  	</collection> 
  </resultMap>
  	
  	<insert id="setBoardFileAdd" parameterType="BoardFileDTO">
  		INSERT INTO NOTICEFILES VALUES(NOTICE_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
  	</insert>
  	
  	<select id="getBoardFileList" parameterType="BbsDTO" resultType="BoardFileDTO">
  		SELECT * FROM NOTICEFILES WHERE NUM = #{num}
  	</select>
  	
  	<delete id="setBoardDelete" parameterType="BbsDTO">
  		DELETE NOTICE WHERE NUM=#{num}
  	</delete>
  </mapper>