<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.iu.s1.board.qna.QnaDAO">
  <sql id="Condition">
  	<if test="kind == 'title'">
  		<trim prefix="where">
  			TITLE LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  	<if test="kind == 'contents'">
  		<trim prefix="where">
  			CONTENTS LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  	<if test="kind =='writer'">
  		<trim prefix="where">
  			WRITER LIKE '%'||#{search}||'%'
  		</trim>
  	</if>
  </sql>
  
  <select id="getTotalCount" parameterType="Pager" resultType="Long">
  	SELECT COUNT(NUM) FROM QNA
  	<include refid="Condition"></include>
  </select>
  
  <select id="getBoardList" parameterType="Pager" resultType="QnaDTO">
  SELECT * FROM
  (SELECT ROWNUM R, Q.* FROM
  	(SELECT NUM,TITLE,WRITER,REGDATE,HIT,DEPTH FROM QNA
  			<include refid="Condition"></include>
  		ORDER BY REF DESC, STEP ASC
  	) Q )
  	WHERE R BETWEEN #{startRow} AND #{lastRow}
  </select>
  
  <insert id="setBoardAdd" parameterType="BbsDTO">
  <selectKey keyProperty="num" resultType="Long" order="BEFORE">
  	SELECT QNA_SEQ.NEXTVAL FROM DUAL
  </selectKey>
  INSERT INTO QNA VALUES(#{num},#{title},#{contents},#{writer},SYSDATE,0,#{num},0,0)
  </insert>
  
  <select id="getBoardDetail" parameterType="BoardDTO" resultMap="getBoardDetailResult">
  SELECT * FROM QNA Q LEFT JOIN QNAFILES QF ON(Q.NUM = QF.NUM)
		WHERE Q.NUM = #{num}
  </select>
  
  <resultMap type="QnaDTO" id="getBoardDetailResult">
  <id column="NUM" property="num"/>
  <result column="TITLE" property="title"/>
  <result column="WRITER" property="writer"/>
  <result column="CONTENTS" property="contents"/>
  <result column="REGDATE" property="regDate"/>
  <result column="HIT" property="hit"/>
  <result column="DEPTH" property="depth"/>
  
  <!-- ofType은 반환할 타입의 제네릭 타입  javaType은  DTO에 반환할 타입 -->
  <collection property="boardFileDTOs" javaType="List" ofType="BoardFileDTO">
  		<id column="FILENUM" property="fileNum"/>
  		<result column="FILENAME" property="fileName"/>
  		<result column="ORINAME" property="oriName"/>
  		
  
  </collection>
  
  
  
  </resultMap>
  
  <update id="setStepUpdate" parameterType="QnaDTO">
  	UPDATE QNA SET STEP=STEP+1
  	WHERE REF =#{ref} AND STEP > #{step}
  </update>
  
  <insert id="setReplyAdd" parameterType="QnaDTO">
  	INSERT INTO QNA VALUES(QNA_SEQ.NEXTVAL,#{title},#{contents},#{writer},SYSDATE,0,#{ref},#{step},#{depth})
  </insert>
  
  <insert id="setBoardFileAdd" parameterType="BoardFileDTO">
  		INSERT INTO QNAFILES VALUES(QNA_SEQ.NEXTVAL,#{num},#{fileName},#{oriName})
  	</insert>
  	
  	<delete id="setBoardDelete" parameterType="BbsDTO">
  		DELETE QNA WHERE NUM=#{num}
  	</delete>
  	
  	<select id="getBoardFileList" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM QNAFILES WHERE NUM=#{num}
  	</select>
  	
  	<select id="getBoardFileDetail" parameterType="BoardFileDTO" resultType="BoardFileDTO">
  		SELECT * FROM QNAFILES	WHERE FILENUM=#{fileNum}
  	</select>
  	
  	<update id="setBoardUpdate" parameterType="BbsDTO">
  		UPDATE QNA SET TITLE=#{title},CONTENTS=#{contents} WHERE NUM=#{num}
  	</update>
  	
  	<delete id="setBoardFileDelete" parameterType="Long">
  		DELETE QNAFILES WHERE FILENUM=#{fileNum}
  	</delete>
  </mapper>